<% provide(:title, 'Thank you') %>
<div class="center hero-unit">
  <h1>Thank You!</h1>
  <h2>We appreciate your interest and support. We're hard at work bringing this site to life. You will receive your <span style="color:#0073cc; font-weight: bold;">VouchFlow</span> invite via email as soon as we are ready.</h2>
</div>